beautifulsoup4==4.8.1
click==7.1.2
numpy==1.22.0rc1
pandas==0.23.3
progress==1.5
requests==2.22.0
yahoofinancials==1.6
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
